<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sector recommendations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    <div class="container">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <h2>Sector you selected</h2>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <img
            src="{{url_for('static', filename='img/' + data.image_id|string + '.jpg')}}"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <h4>Five most similar sectors to the selected one:</h4>
        </div>
        <div class="col-2"></div>
      </div>
        <!-- Table with similar images -->
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Sector #</th>
		      <th scope="col">Image</th>
		      <th scope="col">Sector Name</th>
		    </tr>
		  </thead>
		  <tbody>
        {% for i in range(0, 5) %}
        {% set img_name = 'img/' + data.neighbours_id[i]|string + '.jpg'%}
		    <tr>
		      <th scope="row">{{i+1}}</th>
		      <td class="w-50">
			      <img src="{{url_for('static', filename=img_name)}}"
                       class="img-fluid img-thumbnail" alt="Sector">
		      </td>
              <td>
                  <table class="table table-bordered">
                    <tr>
                      <td>Similarity score: {{data.distances[i]}}</td>
                    </tr>
                    <tr>
                      <td>Crag name: {{data.crags_name[i]}}</td>
                    </tr>
                    <tr>
                      <td>Sector name: {{data.sectors_name[i]}}</td>
                    </tr>
                  </table>
              </td>

		    </tr>
        {% endfor %}
		  </tbody>
		</table>
    </div>
        <!-- End of table with similar images -->


    </div>
</body>
</html>